.release-image {
		height: 150px;
    background-size: cover;
    background-position: center;
}

.tracks-container {
	border: 1px solid black;
	height: 700px;
	position: relative;
}

.track-container, .add-track-container {
	border-bottom:1px solid orange;
	height:50px;
	position: relative;
	width:100%;
	z-index:1;
	background-color: white;

	input {
		display: inline-block;
		margin-right: 20px;
		margin-left: 5px;
	}

	.track-sequence {
		display: inline-block;
		span {
			margin: 10px;
		}
	}
}

.if-lg-text input {
	font-size: 24px;
}

.if-md-text input {
	font-size: 18px;
}